<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>598161869904-6f059v3e0380k1gvd04abmorsra66kov.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.598161869904-6f059v3e0380k1gvd04abmorsra66kov</string>
	<key>API_KEY</key>
	<string>AIzaSyCpWxOmzPy8hhx4R6MYqtLJR13gyW-9_Ho</string>
	<key>GCM_SENDER_ID</key>
	<string>598161869904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instaFurbo</string>
	<key>PROJECT_ID</key>
	<string>instafurbo</string>
	<key>STORAGE_BUCKET</key>
	<string>instafurbo.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598161869904:ios:1e79f965dd07ff68c41555</string>
</dict>
</plist>